.profilepic {
  width: 71px;
  height: 70px;
  position: relative;
}

.count {
  position: absolute;
  top: -25px;
  right: -20px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: #3e3e3e82;
  color: #36a546;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}
